.chosen-container-single .chosen-single {
    height: 45px !important;
    line-height: 44px !important;
}

.user_bg_style{
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
    width: auto;
    height: 150px;
    color: white;
    background-color: #4e95ff;
}

.bg_style{
    width: 500px;
    height: auto;
    background-color: rgba(233, 230, 230, 0.696);
    border-radius: 20px;
}
.d_f_my{
    align-items: baseline;   
}
.d_f_my h4{
    margin-left: 10px;
}
.edit_user{
    transition: all 1s ease;
}
.edit_user:hover{
    border: 2px;
    border-color: rgb(173, 171, 173, 1);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    
}
.sentre1{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 170px;
}
.work-post{
    margin: 10px;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(233, 230, 230, 0.696);
}

.b_r_color{ 
    border-color: #8e8f90 !important;
    border-radius: 20px;
    border-width: 2px;
    
}
.show-user{
    width: 500px;
}

.fa-solid {
    font-size: 20px;
}
.fa-solid11 {
    color: #0d6efd;
}

.rating-box{
    width: 500px;
    position: relative;
    background:#fff;
    padding: 20px 30px 25px;
    margin-bottom: -30px;
    border-radius: 5px;
    box-shadow: -8px 14px 19px -8px rgba(85, 93, 232, 0.77);
    -webkit-box-shadow: -8px 14px 19px -8px rgba(85, 93, 232, 0.77);
    -moz-box-shadow: -8px 14px 19px -8px rgba(85, 93, 232, 0.77);
    color: #0d6efd;
}
.faol{
    color: #0d6efd !important;
}
.marck {
    color: #0d6efd!important;
}
.followers{
    width: 800px;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    border-color: #0d6efd;
    padding: 20px 30px 25px;
}

.data1 {
    display: flex;
    justify-content: space-between;
}

.data1 p {
    font-size: 10px;
}
.cardRaz{
    width: 400px !important;
}
 .modal-content {
     width: 900px !important;
     height: 445px;
 }

 .modal-dialog {
     margin-left: 20% !important;
 }

 .dflex1 {
     justify-content: space-between;
     align-items: flex-end;
 }

 .w100 {
     width: 1100px !important;
 }

 .imgs1{
    width: 1280px;
    height: 400px;
    background-image: url( ../images/image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
 }
 
 .error{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
 }

 .searchGrup button{
    height: 36px;
    border-radius: 50px;
    margin-left: 15px;
box-shadow: -12px 14px 12px -11px rgba(18, 115, 232, 0.75);
    -webkit-box-shadow: -12px 14px 12px -11px rgba(18, 115, 232, 0.75);
    -moz-box-shadow: -12px 14px 12px -11px rgba(18, 115, 232, 0.75);
 }
 .searchGrup input{
    border-radius: 20px !important;
    box-shadow: -9px 14px 23px -11px rgba(18, 115, 232, 0.75);
        -webkit-box-shadow: -9px 14px 23px -11px rgba(18, 115, 232, 0.75);
        -moz-box-shadow: -9px 14px 23px -11px rgba(18, 115, 232, 0.75);
 }

 .colorB{
    height: 20px;
    background-color: #0d6efd;
 } 