.chosen-container-single .chosen-single {
    height: 45px !important;
    line-height: 44px !important;
}

.user_bg_style{
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
    width: auto;
    height: 150px;
    color: white;
    background-color: #4e95ff;
}

.bg_style{
    width: 500px;
    height: auto;
    background-color: rgba(233, 230, 230, 0.696);
    border-radius: 20px;
}
.d_f_my{
    align-items: baseline;   
}
.d_f_my h4{
    margin-left: 10px;
}
.edit_user{
    transition: all 1s ease;
}
.edit_user:hover{
    border: 2px;
    border-color: rgb(173, 171, 173, 1);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    
}
.sentre1{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 170px;
}
.work-post{
    margin: 10px;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(233, 230, 230, 0.696);
}

.b_r_color{ 
    border-color: #8e8f90 !important;
    border-radius: 20px;
    border-width: 2px;
    
}
.show-user{
    width: 500px;
}

.fa-solid {
    font-size: 20px;
    color: #0d6efd;
}